<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gwj's App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
 <script type="text/javascript">
    var projectGP = function(msg){
    return '/aquarius/' + msg;
  };
 </script>
 <link rel="stylesheet" type="text/css" href="/aquarius/webjars/extjs/4.2.1.883/resources/css/ext-all.css"></link>
 <script type="text/javascript" src="/aquarius/webjars/extjs/4.2.1.883/bootstrap.js"></script>
 <script type="text/javascript" th:src="@{/js/app/app.js}"></script>

	
</head>
<body>

</body>
</html>